.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
}

.order .order__id {
  position: absolute;
  font-weight: 500;
  top: 40px;
  right: 20px;
}
.order > h3 {
  font-weight: 800;
  text-align: right;
}
